html, body {
    width: 100%;
    height: 100%;
    margin-top: 0;
}

.img
        {  
    width: 100%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
        }

     .navigation {
    margin: 0;
    padding: 0;
    list-style-type: none;
    border: 10px;
    font-size: 18px;
    display: inline-block; 
    width: 100%;

}
.menu {
    display: flex;;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0; 
    color: white;
    font-weight: bold;
    background-color: rgb(153, 133, 158);
    border: 4px solid black;
    border-radius: 15px;
    box-shadow: 10px 10px 7px rgb(41, 31, 44);
    margin-right: 35px;
    padding: 15px;
}
.Logo{
    color: rgb(67, 58, 145);
    display: inline-block;
    width: 50%;
    margin: 20px;
}
.benefits{
    margin-left: 25px;
    margin-bottom: 10px;
padding: 5px;
}
.form{
    border: 1px solid black;
    padding: 7px;
    margin: 10px;
    background-color: rgb(199, 196, 196);
}
body{
    background-image: url(https://thumbs.dreamstime.com/b/e-115839158.jpg);
}
.price{
    text-align: center;
}
.img_price{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.buttons{background-color: rgb(193, 178, 207);
    border: 1px solid rgb(46, 31, 61);
    border-radius: 5px;
    margin-left: 20px;;
}
.footList{
    border: 1px solid rgb(72, 66, 78);
    border-radius: 5px;}
.hendy{
    color: rgb(73, 55, 80);
    border: 1px solid rgb(51, 49, 53);
    width: 10%;
    border-radius: 7px;
    display: inline-block;
    background-color: rgb(176, 151, 201);
    text-align: center;
    font-weight: 100;
}
.hendy:hover{
    border: 3px solid rgb(51, 49, 53)
}
.customer_tel{
    border: 2px solid rgb(51, 49, 53);
    width: 27%;
    margin: 20px;
}
.customer_name{
    border: 2px solid rgb(51, 49, 53);
    width: 30%;
    margin: 20px;
}
.discrib{
    border: 2px solid rgb(51, 49, 53); 
    width: 60%;
    height: 300px;
    margin: 20px;
}
.map{
    width: 100%;
}
.mainImg{
    width: 70%;
    height: 20%;
    margin-left: auto;
    margin-right: auto;
    
}