body,html{
    width: 100%;
    height: 100%;
    margin: 0;
}
main{
    width: 100%;
    height:auto;
}
header{
    width: 95%;
    height: 13%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.navigation{
    width: 40%;
    height: 100%;

}
.logo{
    width: 10%;
    height: 70%;
    background-image: url(./logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

}
.menu{
display: flex;
justify-content: space-between;
align-items: center;
margin: 0;
padding: 0;
width: 100%;
height: 100%;
list-style: none;
}

.menu > li > a{
    color: black;
    list-style: none;
    text-decoration: none;
}
.menu > li > span{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(./denmark.png) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.mainbutton_BOOK{
   
   background-color: #5B6460;
   width: 15%;
   height: 65%;
   color: white;
   border: 0;
   font-size: 14px;
}
.main_intro{
    width:100% ;
    height: 90vh;
    background-image: url(./mainimg.png);
    background-size: cover;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;

    
}
.introfoto{
    
    background-size: cover;
    justify-content: center;
    align-items: center;
    width:100% ;
    height: 90vh;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 0;
    background-color: rgba(0, 0, 0, .35);

    }
.main_intro:{
    z-index: 1;
    content: " ";
    display: block;
    width: 100%;
    height: 90vh;
    top: 0;
    left: 0; 
}

 .title_for_foto{
    position: absolute;
    display: block;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 60px;
    line-height: 72px;
    color: #FFFFFF;    
    padding-top:2%;
    margin-left: 650px;;
    z-index:2;
    }
.textonthefoto{
    position: absolute;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 12%;
    display: flex;
    justify-content: end;
    width: 90%;
    z-index: 2;
}

.button_midle{
    position: absolute;
    width: 350px;
    height: 90px;
    z-index: 3;
    left: 10%;
    top: 530px;
    bottom: 0;display: flex;
    
}

.bigbutton_book{  
    width: 70%;
    height: 100%;
    background: #5B6460;
    list-style: none;
    text-decoration: none;
    display: flex;
}

.text_button{
    color: white;
    list-style: none;
    text-decoration: none;
    display: flex;
    margin-left: 60px;
    align-items: center;
}



.price_for_night{
width: 30%;
height: 100%;
background: #E9ECE0;
box-sizing: border-box;
    padding: 10px;
    padding-top: 15px;
}

.one{
display: flex;
justify-content: left;
font-size: 13px;
}
.two{
    display: flex;
    justify-content: center;
}
.tree{
    display: flex;
    justify-content: right;
    font-size: 13px;
}

.arrows{
    position: absolute;
    width: 10%;
    height: 50px;
    z-index: 4;
    left: 45%;
    top:90%;
    bottom: 0;
    display: flex;
    

}
.arrow_r{
    width: 50%;
    height: 100%;
    background-image: url(./arrow_left.png);
    background-repeat: no-repeat;
}
.arrow_l{
    width: 50%;
    height: 100%;
    background-image: url(./arrow_right.png);
    background-repeat: no-repeat;
}
.title_discrabe{
    color: #5B6460;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 70px;
    line-height: 72px;
    margin-top: 40px;
}
 
.discrabe_cabins_main{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding:0;
    margin-top: 10px;
    margin-right: 0;
    height: 90vh;
}

.cabineimg{
    width: 55%;
    background-image: url(./small.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-size: contain;
}
.text_cabine{
    width: 40%;
    height: 80hv;
    font-size: 16px;
    padding-left: 100px; 
    padding-right: 100px;
    padding-top: 80px;
    align-items: center;
    
}
.text{font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
    color: #000000; 
    
    
}
.title_discrabe{
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 40px;
color: #5B6460;
}
.read_more >a {
    font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 30px;
color: #5B6460;
}
.fotos{
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content:space-around;
padding: 0;
}

.fotoone{
    width: 30%;
    background-image:url(./smallone.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    align-items: center;
}
.fototwo{
    width: 30%;
    background-image:url(./smalltwo.png) ;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    align-items: center;
}
.fototree{
    width: 30%;
    background-image:url(./smallthree.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    align-items: center;
}